:root{

--features-ground:#f3f4fb;
--worddesign-color:#bdb1f7;
--learning-ground: #563d7c;

}

*{
  padding: 0px;
  margin: 0px;
}




body {
  padding-top: 80px; 
}

#logo{
    width: 150px;
}
.nav-link:hover {
  color: #bdb1f7;
}
.signup:hover{
background-color: #bdb1f7 !important;
color: black !important;

} 
.special{
    color: #bdb1f7;
}
#learning{
  background-color: var(--learning-ground);
  color: white;
}
#learning:hover{

  background-color: #bdb1f7;
}
#demo{
  border: 1px solid white ;
  color: white;

}
#demo:hover{
  background-color: white;
  color: #bdb1f7;
}
.startimg{
  width: 120px;
}
.imgtable{
  width: 35%;
}
.img-s{
  width: 243px;
  height: 300px;
}
#features{
background-color: var(--features-ground);
color: black;
 padding-top: 100px;   
padding-bottom: 100px; 


}
.worddesign{
  color:var(--worddesign-color) ;
}
.cardcolor{
  background-color: var(--features-ground);
  border: none;
}
.leftcontent {
  margin-right: 150px; 
}
.experiance{
   padding-top: 100px;   
  padding-bottom: 100px; 
}
.coursementor {
  margin-left: 150px; 
}
.sec4{
background: linear-gradient(to right,#f3f4fb 50%, #ffffff 50%);
padding-top: 100px;   
padding-bottom: 100px; 

}

.sec4icon{
margin-right: 350px;
width: 80px;


}
.sec4-cards{
  margin-left: 200px;
}
.card-border1{
  border-top: 3px solid black;
}
.card-border2{
  border-top: 3px solid #bdb1f7;
}

.sec5{
  padding-top: 140px;
  padding-bottom: 100px; 
}
#sec5link{
background-color: white;
color: black;
border: 2px solid black;
}
#sec5link:hover{
   background-color: var(--learning-ground);
  color:white;
  
}



















@media (max-width: 768px) {
  .sec4text {
    background: none ;
   background-color: var(--learning-ground);
   margin-bottom: 30px;

  }
}
